.App-header {
    background-color: tr;
    width: 100vw;
    height: 8vh;
    min-height: 50px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    color: rgb(255, 235, 222);
    padding-top: 2vh;
}

.nav-header {
    display: flex;
    width: 60vw;
    padding-right: 80vw;
    padding-left: 10vw;
    padding-top: 2vh;
    font-size: 40px;
    top: 30%;
    justify-content: space-around;
    align-items: center;
}
  
.App-header button {
    border: none;
    color: rgb(255, 235, 222);
    background: none;
    font-size: 20px;
    padding: 15px;
    border-radius: 8px;
}

.App-header button:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: 0.2s ease-in-out;
}

.App-header button:active {
    opacity: 0.7;
    transition: 0.2 ease-in-out;
}

.Logo-header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%; /* Center vertically */
    left: 85%; /* Center horizontally */
    width: 20vw;
    font-size: 45px;
    padding: 5px;
}