/* styles.css */

.background {
    margin: 0;
    padding: 90px;
    height: 100vh;
    background-image: url(../../public/Images/transition2.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  
  .choice-container {
    text-align: right;
    margin-top: 10px; 
  }
  
  .choice {
    background-color: green;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .choice:hover {
    background-color: darkgreen;
  }
  