/* Signup.css */



.box1{
  display: flex;
  height: 100vh; /* 100% of the viewport height */
  justify-content: center; /* Center horizontally*/
  align-items: center; /*Center vertically */ 

  background-image: url(../../public/Images/Signup_page.jpeg); 
  background-size: cover;
  background-position: center;
}

/* Left black box */
.second{
  /* flex: 1; Take up all available space */
  position: absolute;
  top: 40%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  width: 30%;
  height:50%;
  color: white;
  padding: 100px; /* Adjust as needed */
  box-sizing: border-box; /* Include padding in the total width */
  text-align: center;
}
.custom_class{
  position: absolute;
  top: 83%;
  left: 44%;
}
.position {
  font-size: 3rem;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input1 {
  margin-bottom: 15px;
}

.input1 input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.button1 button {
  position: absolute;
  top: 77%;
  left: 47%;
  width: 6%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color:#27c12e ;
  color: white;
  cursor: pointer;
} 

.button1:hover {
  background-color: #27c12e;
}